*{
    margin: 0%;
    padding: 0%;
}
.head{
    font-size: 4rem;
    color: darkred;
    margin-left: 3vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 2px 3px wheat;
}
.header{
    height: 7vw;
}
.nav-link{
    font-size: 1.5rem;
    margin-left: 3vw;
}
.navbar{
    width: 100%;
    height: 7vw;
}

.w-100{
    height: 52vw;
}
.pop{
    font-size: 2rem;
    text-align: center;
    text-shadow: 2px 4px 3px powderblue;
    font-weight: bold;
    position: absolute;
    margin-left: 30vw;
    margin-top: -5vw;

}
.img{
    width: 74vw;
    height: 50vw;
}
a{
    text-decoration: none;
    text-align: center;
    color: darkred;
}
.slidermrp{
    text-align: center;
    font-size: 1rem;
    margin-top: -1vw;
}
.click{
    font-size: 1.5rem;
    text-align: center;
}
.click1{
    margin-left: 3vw;
    border-radius: 6px;
    padding-left: 10vw;
}
.click2{
    background-color: khaki;
    padding: 0px 19px 1px 19px;
    border-radius: 1vw;
    margin-left: -10vw;
}
.now1{

    width: 100%;
    height: 34vw;
    margin-top: 2px;
    
}
.carda{
    margin-top: 8vw;
    display: flex;
    margin-left: 13.7vw;
}
.carda1{
    margin-top: 1vw;
    display: flex;
    margin-left: 13.7vw;
}

.les{
    display: flex;
    
}
   
.les{
    display: flex;

    
}
#les{
    width: 16vw;
    height: 20vw;
    border: 1px solid seashell;
    border-radius: 1vw;
    box-shadow: rgb(168, 121, 121) 3px 3px 3px 3px;
    margin: 1vw;
}

#les:hover{
    
    border: 3px solid rgb(179, 74, 74);
}
.cake{
    width: 15vw;
    height: 12vw;
    border-radius: 1vw;
    margin: 0.4vw;
   
}
.footer{
    background-color:red;
    height: 30vw;
    margin-top: 10vw;
}
.foot{
    margin-top: 4vw;
}
.footer1{
    margin-left: 11vw;
    position: absolute;
    color: white;
    margin-top: 4vw;
}
.footer2{
    margin-left: 25vw;
    position: absolute;
    margin-top: 4vw;
    color: white;
   
}
.footer3{
    margin-left: 50vw;
    position: absolute;
    margin-top: 4vw;
    color: white;
    
}
.footer4{
    margin-left: 71vw;
    position: absolute;
    margin-top: 4vw;
    color: white;
    
}
.footer5{
    margin-left: 71vw;
    position: absolute;
    margin-top: 12vw;
    color: white;
    
}
.footer6{
    margin-left: 71vw;
    position: absolute;
    margin-top: 16vw;
    color: white;
    
}
/* ==================================header======================= */
.home{
    margin-top: 22vw;
    margin-left: 3vw;
    font-size: 2rem;
}




/* ====================media============================ */



/* ============================monile view======================== */
@media (max-width:766px){
    .head{
        font-size: 2rem;
        color: darkred;
        margin-left: 16vw;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-shadow: 2px 3px wheat;
    }
    .header{
        height: 19vw;
    }
    .navbar{
        width: 100%;
        height: 19vw;
        
    }
    .navbar-nav{
        background-color: lemonchiffon;
        z-index: -1;
    }
    .nav-link{
        margin-left: 0;
        border-bottom: 1px solid brown;
        text-align: center;
        margin-top: 3vw;
        font-size: 1.3rem;
    }
    .w-100{
        height: 52vw;
    }
    .pop{
        margin-top: -16vw;
        font-size: 1.5rem;
        text-align: center;
    }
    .img{
        width: 74vw;
        height: 50vw;
    }
    a{
        text-decoration: none;
        text-align: center;
        color: black;
    }
    .click{
        font-size: 1rem;
        text-align: center;
    }
    .click1{
        margin-left: 4.5vw;
        border-radius: 6px;
        padding-left: 29vw;
        position: absolute;
        margin-top: -3vw;
    }
    .slidermrp{
        margin-top: -5vw;
        color: rgb(36, 24, 24);
        font-size: 1rem;

    }
    .click2{
        background-color:rgb(148, 130, 130);
        padding: 0px 19px 1px 19px;
        border-radius: 1vw;
        margin-left: -29vw;
        font-weight: bold;
    }
    .now1{

        width: 100%;
        height: 34vw;
        margin-top: 2px;
        
    }
    .carda{
        display: block;
        margin-left: 0vw;
        margin-top: 20VW;
    }
    .carda1{
        display: block;
        margin-left: 0vw;
    }
    #les{
        border: 1px solid rgb(53, 32, 32);
        width: 43vw;
        height: 48vw;
        margin-left: 3.5vw;
    }
    .les{
        margin-left: 1vw;
        margin-top: 3vw;
    }
    .cake{
        width: 41vw;
        height: 25vw;
        border-radius: 1vw;
        margin: 0.4vw;
       
    }
    .footer{
        background-color:rgb(179, 44, 44);
        height: 200vw;
        margin-top: 10vw;
    }
    .foot{
        margin-top: 4vw;
    }
    .footer1{
        margin-left: 11vw;
        position: absolute;
        margin-top: 10vw;
    }
    .footer2{
        margin-left: 11vw;
       position: absolute;
       margin-top: 53vw;
    }
    .footer3{
        margin-left: 11vw;
        position: absolute;
        margin-top: 100vw;
        
    }
    .footer4{
        margin-left: 11vw;
        position: absolute;
        margin-top: 140vw;
        
    }
    .footer5{
        margin-left: 11vw;
        position: absolute;
        margin-top: 170vw;
        color: white;
        
    }
    #footer51{
        margin-top: -7vw;
        margin-left: 5vw;
    }
    .footer6{
        margin-left: 11vw;
        position: absolute;
        margin-top: 180vw;
        color: white;
        
    }
    #footer61{
        margin-top: -7vw;
        margin-left: 5vw;
    }
    

}

/* =======================pixel 2================================= */

@media only screen and (min-width:400px) and (max-width:412px){
   
    .footer{
        background-color:rgb(160, 52, 52);
        height: 200vw;
        margin-top: 10vw;
    }
    .foot{
        margin-top: 4vw;
    }
    .footer1{
        position: absolute;
        margin-left: 11vw;
        margin-top: 10vw;
    }
    .footer2{
        position: absolute;
        margin-left: 11vw;
       margin-top: 53vw;
    }
    .footer3{
        position: absolute;
        margin-left: 11vw;
        margin-top: 100vw;
        
    }
    .footer4{
        position: absolute;
        margin-left: 11vw;
        margin-top: 140vw;
        
    }
    .footer5{
        position: absolute;
        margin-left: 11vw;
        margin-top: 170vw;
        color: white;
        
    }
    #footer51{
        margin-top: -6vw;
        margin-left: 5vw;
    }
    .footer6{
        position: absolute;
        margin-left: 11vw;
        margin-top: 180vw;
        color: white;
        
    }
    #footer61{
        margin-top: -5.5vw;
        margin-left: 5vw;
    }
}

/* =======================iphone 5 /se================================= */

@media only screen and (min-width:280px) and (max-width:320px){
}
/* =======================iphone 6/7/8 ================================= */

@media only screen and (min-width:365px) and (max-width:399px){
    
}

/* =======================iphone 6/7/8 pius================================= */

@media only screen and (min-width:412px) and (max-width:415px){
    
}