*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: sans-serif;
}
.nav-header{
    width: 100%;
    height: 2rem;
    background: url(../img/nav.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
.copyright{
    color: white;
}
.nav-up-icon{
    margin-left: 0.5%;
}
/* ==========navbar============= */
.nav-img{
    width: 15%;
    height: 4rem;
}
.nav-link:hover{
    color: white !important;
}
.nav-icon{
    width: 20%;
}
.icon-face{
    font-size: 2rem !important;
    color: white;
    padding: 4px 11px;
    border-radius: 20px;
    background-color: rgb(94, 94, 179);
    border: 1px solid rgb(37, 37, 110);
    cursor: pointer;
}
.icon-insta{
    margin-left: 6%;
    font-size: 2rem !important;
    color: white;
    padding: 4px 7px;
    border-radius: 20px;
    background: linear-gradient(blue,red,rgb(218, 25, 25),yellow);
    border: 1px solid rgb(37, 37, 110);
    cursor: pointer;
}
.icon-twi{
    margin-left: 6%;
    font-size: 2rem !important;
    color: white;
    padding: 4px 6px;
    border-radius: 20px;
    background-color: rgb(78, 174, 212);
    border: 1px solid rgb(37, 37, 110);
    cursor: pointer;
}
/* ===============carousel=============== */
.w-100{
    height: 35rem;
}
/* ============card================ */
.card-body{
    width: 100%;
    height: auto;
}
.card-col-1{
    display: flex;
    margin-left: 12%;
}
.pop{
    text-align: center;
    font-size: 3rem;
    font-family: 'Dancing Script', cursive;
    color: rgb(210, 30, 30);
}
.box{
    display: flex;
    width: 50%;
}
.box-1{
    display: flex;
    width: 50%;
    margin-left: -8%;
}

.box-card{
    width: 38%;
    height: auto;
    border: 2px solid chocolate;
    margin: 2%;
    border-radius: 10px;
    box-shadow: 5px -1px 2px 2px gainsboro;
}
.box-img{
    width: 98%;
    height: auto;
    margin: 1%;
    border-radius: 3px;
}
.box-title{
    background-color: rgb(210, 30, 30);
    text-align: center;
    font-size: 1.5rem;
    color: white;
}
/* === */
.card-col-2{
    display: flex;
    margin-left: 12%;
    
}
/* ============= */
.middle-box{
    width: 90%;
    height: auto;
    border: 2px solid silver;
    border-radius: 5px;
    margin-left: 5%;
    margin-top: 2rem;
    display: flex;
    
}
.half-box{
   width: 50%; 
   height: auto;
   padding: 1rem;
}
.half-box-1{
   width: 50%; 
   height: auto;
   padding: 1rem;
}
.half-img{
    width: 100%;
}
/* ============contact form================= */
.contact{
    width: 100%;
    height: auto;
    display: flex;
}
.contact-img{
    width: 50%;
}
.contact-form{
    width: 50%; 
}
.img{
    width: 85%;
    height: auto;
    margin-left: 3%;
    overflow: hidden;
    border-radius: 5px;
}
.form{
    width: 80%;
    height: auto;
}
.name{
    display: flex;
}
.contact-logo{
    width: 100%;
}
.submit-form{
    width: 100%;
    padding: 0.4rem;
    font-size: 1.5rem;
    background-color: rgb(236, 29, 14);
    color: white;
    border-radius: 5px;
    border: none;
}
/* ===========Mobile View=========================== */

@media only screen and (max-width:990px){

    /* ===========navbar========== */
    .navbar-nav{
        text-align: center;
    }
    .nav-link{
        margin-left: -3.5rem !important;
    }
    .nav-link:hover{
        margin-left: -3.5rem !important;
        background-color: rgb(139, 25, 25);
        margin-top: 0.2rem; 
    }
    .nav-img{
        width: 50%;
    }
    .nav-icon{
        width: 100%;
        text-align: center;
    }
    /* ===carsoul */
    .w-100{
       height: 20rem;
    }
    /* =========middle box */
    .middle-box{
        display: block;
    }
    .half-box{
        width: 100%; 
      
     }
     .half-box-1{
        width: 100%; 
      
     }
     /* ==========form contact */
     .contact{
         display: block !important;
     }
     .contact-img{
         width: 100%;
     }
     .img{
         width: 96%;
         margin-left: 2%;
     }
     .contact-form{
         width: 100%;
     }
     .form{
         width: 100%;
     }
}

/* ======box============ */
@media only screen and (max-width:700px){
    .card-col-1{
        display: block;
        margin-left: 0%;
    }
    .card-col-2{
        display: block;
        margin-left: 0%;
    }
    .box{
        width: 100%;
    }
    .box-1{
        margin-left: 0%;
        width: 100%;
    }
    .box-card{
        width: 48%;
    }
    .w-100{
        height: 15rem;
    }

}
/* ========= */
@media only screen and (max-width:320px){
    .box{
        display: block;
    }
    .box-1{
        display: block;
       
    }
    .box-card{
        width: 96%;
    }
    .w-100{
        height: 12rem;
    }
}
/* ============================= */
@media only screen and (max-width:500px){
  .name{
      display: block !important;
  }
}
















































/* ============== */
/* nav{
    width: 100%;
    height: 5rem;
    background-color: rgb(182, 52, 117);
}
.nav-bar{
    display: inline-flex;
    line-height: 3.5rem;
    margin-left: 18%;
}
.nav-link{
    color: white !important;
} */